$warning-color: #c30707;
$yellow: #ffc439;

$grey: #888;

$blue: #7498b0;
//$text-color: darken($blue, 7%);
$dark-blue: #0d3856;
$bg-color: #efefef;

// $confirmed-color: #badc8e;
// $fair-color: #fee08b;
$weak-color: #fdc461;
$contested-color: #f98253;	
$discounted-color: #d53e4f;
$confirmed-color: #81de9b;
$fair-color: #ceef83;
$discounted-color: #737373;




$russian-military: #2fb0d8;
$coalition: #35495d;
$turkish-military: #2abb9b;
$all-belligerents-in-libya: #f1c561;
$all-belligerents-in-libya-2011: #e69c40;
$us-forces-in-somalia: #de8462;
$isis-somalia: #2287d0;
$al-shabaab: #8232b5;
$al-qaeda-in-east-africa: #ff0000;
$declared: #2980a5;
$alleged: #cc5d88;
$unknown: #999;
$militants: #2980a5;
$other: #333;
$al-qaeda-in-the-arabian-peninsula-aqap: #4eb391;
$isis-yemen: #397aa9;
$us-forces-in-yemen: #798ebb;
$lna-uae-military-egyptian-military: #737eb5;
$libyan-national-army: #544ea2;
$egyptian-military: #3a86e4;
$gna-turkish-military: #60bf7d;
$government-of-national-accord: #60bf7d;
$us-forces: #57d6ca;
$general-national-congress: #96c5b9;
$uk-military: #282a73;
$french-military: #e3b551;
$israeli-military: #a0568d;
$palestinian-militants: #fb8734;
//$israeli-military: #0138b7;
$seventh-brigade: #c4e055;
$chadian-military: #cb5034;
$russian-military: #7c37a0;
$united-arab-emirates-military: red;
$contested: #999;
$unknown: #3e3e3e;

$russian-military-in-ukraine: #005BBB;


$nato-forces: #012169;
$gaddafi-forces: #008542;
$libyan-rebel-forces: #c50000;

