# R2 upload script
CLOUDFLARE_ACCOUNT_ID=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# WordPress / Railway
MYSQL_HOST=
MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=
ACF_PRO_KEY=
WP_HOME=https://your-railway-domain.up.railway.app
R2_DB_URL=
